main {
}

main .inner {
  position: relative;
  width: 1200px;
  height: calc(100vh - 5rem);
  margin: 0px auto;
  background-color: burlywood;
  display: flex;
}
.container {
  width: 600px;
  height: calc(100vh - 5rem);
  background-color: burlywood;
}
#name {
  border: 1px solid;
  font-size: 40px;
  height: 60px;
  text-align: center;
  transform: translateY(10px);
}

#score {
  border: 1px solid;
  text-align: center;
  margin-top: 9px;
  font-size: 20px;
}

.inner > .container *:nth-child(3n) {
  position: absolute;
  margin-top: 20px;
  height: 250px;
  width: 250px;
  margin-left: 180px;
}
#location {
  margin-top: 280px;
  border: 1px solid;
  left: 25%;
  text-align: center;
  font-size: 30px;
}
#kindofFood {
  left: 25%;
  font-size: 30px;
  text-align: center;
  border: 1px solid;
}
#recommend {
  left: 25%;
  font-size: 30px;
  text-align: center;
  border: 1px solid;
}
.container2 {
  display: block;
  width: 600px;
}

.container2 *:nth-child(n) {
  position: absolute;
  margin-top: 40px;
  height: 120px;
  width: 120px;
  margin-left: auto;
}
#메뉴1 {
  margin-top: 60px;
  height: 100px;
  width: 100px;
  margin-left: 120px;
}
#가격1 {
  margin-left: 120px;
  margin-top: 80px;
}
#메뉴2 {
  margin-top: 60px;
  height: 100px;
  width: 100px;
  margin-left: 350px;
}
#가격2 {
  margin-left: 352px;
  margin-top: 80px;
}
.container2 *:nth-child(4n) {
  position: absolute;
  margin-top: 40px;
  height: 120px;
  width: 120px;
  margin-left: 90%;
}

.container3 {
  position: static;
}
#review {
  position: absolute;
  font-size: 40px;
  border: 1px solid;
  width: 599px;
  height: 60px;
  text-align: center;

  transform: translateY(10px);
}
#후기작성란 {
  position: absolute;
  font-size: 20px;
  width: 599px;
  text-align: center;
  margin-top: 70px;
  border: 1px solid;
}

.후기작성컨테이너 {
  display: flex;
}
.후기작성컨테이너1 {
  position: relative;
  border: 1px solid;
  margin-top: 97.5px;
  width: auto;
  justify-content: space-evenly;
}

.후기작성컨테이너2 {
  margin-top: 97.5px;
  border: 1px solid;
}
.후기 {
  text-align: center;
  font-size: ;
  border: 1px solid;
  width: 355px;
}
#floatingTextarea {
  height: 70px;
  width: 350px;
}
#별점 {
  border: 1px solid;
  text-align: center;
}
button {
  width: 50px;
  height: 30px;
  margin-top: 145px;
}
#myform fieldset {
  display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
  border: 0; /* 필드셋 테두리 제거 */
  margin: 0;
  text-align: center;
}
#myform input[type="radio"] {
  display: none; /* 라디오박스 감춤 */
}
#myform label {
  font-size: 1.5em; /* 이모지 크기 */
  color: transparent; /* 기존 이모지 컬러 제거 */
  text-shadow: 0 0 0 #f0f0f0; /* 새 이모지 색상 부여 */
}
#myform label:hover {
  text-shadow: 0 0 0 #a00; /* 마우스 호버 */
}
#myform label:hover ~ label {
  text-shadow: 0 0 0 #a00; /* 마우스 호버 뒤에오는 이모지들 */
}
#myform fieldset {
  display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
  direction: rtl; /* 이모지 순서 반전 */
  border: 0; /* 필드셋 테두리 제거 */
  padding: 0px;
}
.닉네임 {
  margin: 10px;
}

#후기모음 {
  text-align: center;
  font-size: 20px;
  margin-top: 0px;
  border: 1px solid;
}
.후기모음컨테이너1 {
  border: 1px solid;
  display: flex;
}
.후기의견 {
  margin: 10px;
}
.따봉 {
  margin: 10px;
}
.후기모음컨테이너2 {
  display: flex;
  border: 1px solid;
}
