<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>swiper</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/second.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script defer src="/static/js/second.js"></script>

  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">우삼겹</a>
      </div>
      <nav>
        <ul>
          <li class="menu-item">서비스 소개</li>
          <li class="menu-item">FAQ</li>
          <li class="menu-item">고객센터</li>
        </ul>
      </nav>
      <button id="drawer-btn">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </header>
    <aside id="side-bar">
      <nav>
        <ul>
          <li class="side-item">서비스 소개</li>
          <li class="side-item">FAQ</li>
          <li class="side-item">고객센터</li>
        </ul>
      </nav>
    </aside>
    <main>

      <div class="dropdown">
        <button class="dropbtn"> 
          <span class="dropbtn_icon"></span>
          바로가기
        </button>
        <div class="dropdown-content">
          <a href="#">강남구</a>
          <a href="#">강동구</a>
          <a href="#">강북구</a>
          <a href="#">강서구</a>
          <a href="#">관악구</a>
          <a href="#">광진구</a>
          <a href="#">구로구</a>
          <a href="#">금천구</a>
          <a href="#">노원구</a>
          <a href="#">도봉구</a>
          <a href="#">동대문구</a>
          <a href="#">동작구</a>
          <a href="#">마포구</a>
          <a href="#">서대문구</a>
          <a href="#">서초구</a>
          <a href="#">성북구</a>
          <a href="#">송파구</a>
          <a href="#">양천구</a>
          <a href="#">영등포구</a>
          <a href="#">용산구</a>
          <a href="#">은평구</a>
          <a href="#">종로구</a>
          <a href="#">중구</a>
          <a href="#">중랑구</a>
        </div>
      </div>

      <div class="inner">
    <div class="container">
      <div class="swiper">
        <h3>한식</h3>
        <div class="swiper-wrapper">
          <div class="swiper-slide"></div>
          <div class="swiper-slide"></div>
          <div class="swiper-slide">slide 3</div>
          <div class="swiper-slide">slide 4</div>
          <div class="swiper-slide">slide 5</div>
          <div class="swiper-slide">slide 6</div>
          <div class="swiper-slide">slide 7</div>
          <div class="swiper-slide">slide 8</div>
          <div class="swiper-slide">slide 9</div>
        </div>
        <!-- pagination -->
        <div class="swiper-pagination"></div>
        <!-- 화살표 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        
      </div>
    </div>
    
    
    <div class="container">
      <div class="swiper">
        <h3>중식</h3>
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="/static/img/chinese1.jpg" alt=""></a></div>
          <div class="swiper-slide"><img src="static/img/chinese2.jpg" alt=""></a></div>
          <div class="swiper-slide">slide 3</div>
          <div class="swiper-slide">slide 4</div>
          <div class="swiper-slide">slide 5</div>
          <div class="swiper-slide">slide 6</div>
          <div class="swiper-slide">slide 7</div>
          <div class="swiper-slide">slide 8</div>
          <div class="swiper-slide">slide 9</div>
        </div>
        <!-- pagination -->
        <div class="swiper-pagination"></div>
        <!-- 화살표 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        
      </div>
    </div>
   
    <div class="container">
      <div class="swiper">
        <h3>양식</h3>
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="static/img/dirtysnack.jpg" alt=""></a></div>
          <div class="swiper-slide"><img src="static/img/tacostand.jpg" alt=""></a></div>
          <div class="swiper-slide">slide 3</div>
          <div class="swiper-slide">slide 4</div>
          <div class="swiper-slide">slide 5</div>
          <div class="swiper-slide">slide 6</div>
          <div class="swiper-slide">slide 7</div>
          <div class="swiper-slide">slide 8</div>
          <div class="swiper-slide">slide 9</div>
        </div>
        <!-- pagination -->
        <div class="swiper-pagination"></div>
        <!-- 화살표 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
            
    </div>
    </div>
  </main>
  </body>
</html>
