<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>서울시 맛집</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="static/css/common.css" />
    <link rel="stylesheet" href="static/css/index.css" />
    <script src="static/js/common.js" defer></script>
    <script src="static/js/index.js" defer></script>
  </head>
  <body>
    <header>
      <div class="brand-logo">
        <div class="brand-name">
          <a href="/">우삼겹</a>
        </div>
        <div class="brand-script">
          <a href="/"> <b>우</b>리동네 맛집 <b>삼겹</b>줄 </a>
        </div>
      </div>
      <div class="page-name">서울시 맛집</div>
      <nav>
        <ul>
          <li class="menu-item">
            <a href="/service_info">서비스 소개</a>
          </li>
          <li class="menu-item">
            <a href="/faq">FAQ</a>
          </li>
          <li class="menu-item">
            <a href="/customer_service">고객센터</a>
          </li>
        </ul>
      </nav>
      <button id="drawer-btn">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </header>

    <aside id="side-bar">
      <ul>
        <li class="menu-item">
          <a href="/service_info">서비스 소개</a>
        </li>
        <li class="menu-item">
          <a href="/faq">FAQ</a>
        </li>
        <li class="menu-item">
          <a href="/customer_service">고객센터</a>
        </li>
      </ul>
    </aside>
    
    <main>
      <div class="inner">
        <div class="cards">
          <a href="/maze"><div class="card">강서구</div></a>
          <a href="/maze"><div class="card">구로구</div></a>
          <a href="/maze"><div class="card">금천구</div></a>
          <a href="/maze"><div class="card">관악구</div></a>
          <a href="/maze"><div class="card">영등포구</div></a>
          <a href="/maze"><div class="card">동작구</div></a>
          <a href="/maze"><div class="card">서초구</div></a>
          <a href="/maze"><div class="card">강남구</div></a>
          <a href="/maze"><div class="card">양천구</div></a>
          <a href="/maze"><div class="card">송파구</div></a>
          <a href="/maze"><div class="card">강동구</div></a>
          <a href="/maze"><div class="card">노원구</div></a>
          <a href="/yongsan"><div id="yongsan" class="card">용산구</div></a>
          <a href="/maze"><div class="card">강북구</div></a>
          <a href="/maze"><div class="card">중랑구</div></a>
          <a href="/maze"><div class="card">성북구</div></a>
          <a href="/maze"><div class="card">종로구</div></a>
          <a href="/maze"><div class="card">동대문구</div></a>
          <a href="/maze"><div class="card">은평구</div></a>
          <a href="/maze"><div class="card">서대문구</div></a>
          <a href="/maze"><div class="card">광진구</div></a>
          <a href="/maze"><div class="card">성동구</div></a>
          <a href="/maze"><div class="card">중구</div></a>
          <a href="/maze"><div class="card">마포구</div></a>
          <a href="/maze"><div class="card">도봉구</div></a>
        </div>
      </div>
    </main>
  </body>
</html>
