<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Korean1</h1>
  <form action="/korean/1" method="POST">
    <textarea type="text" name="review" placeholder="리뷰를 입력해주세요"></textarea>
    <button>작성</button>
  </form>

  <hr><hr>
  
  <% for (restaurant of restaurants) { %>
  <h2><%= restaurant.review %></h2>
  <% } %>
</body>
</html>