<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>swiper</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="/static/css/common.css" />
    <link rel="stylesheet" href="/static/css/second.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script defer src="/static/js/second.js"></script>
  </head>
  <body>
    <header>
      <div class="brand-logo">
        <div class="brand-name">
          <a href="/">우삼겹</a>
        </div>
        <div class="brand-script">
          <a href="/"> <b>우</b>리동네 맛집 <b>삼겹</b>줄 </a>
        </div>
      </div>
      <div class="page-name">용산구</div>
      <nav>
        <ul>
          <li class="menu-item">
            <a href="/service_info">서비스 소개</a>
          </li>
          <li class="menu-item">
            <a href="/faq">FAQ</a>
          </li>
          <li class="menu-item">
            <a href="/customer_service">고객센터</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="dropdown">
        <button class="dropbtn">
          <span class="dropbtn_icon"></span>
          바로가기
        </button>
        <div class="dropdown-content">
          <a href="/maze">강남구</a>
          <a href="/maze">강동구</a>
          <a href="/maze">강북구</a>
          <a href="/maze">강서구</a>
          <a href="/maze">관악구</a>
          <a href="/maze">광진구</a>
          <a href="/maze">구로구</a>
          <a href="/maze">금천구</a>
          <a href="/maze">노원구</a>
          <a href="/maze">도봉구</a>
          <a href="/maze">동대문구</a>
          <a href="/maze">동작구</a>
          <a href="/maze">마포구</a>
          <a href="/maze">서대문구</a>
          <a href="/maze">서초구</a>
          <a href="/maze">성북구</a>
          <a href="/maze">송파구</a>
          <a href="/maze">양천구</a>
          <a href="/maze">영등포구</a>
          <a href="/yongsan">용산구</a>
          <a href="/maze">은평구</a>
          <a href="/maze">종로구</a>
          <a href="/maze">중구</a>
          <a href="/maze">중랑구</a>
        </div>
      </div>

      <div class="inner">
        <div class="container">
          <div class="swiper">
            <h3>한식</h3>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <!-- <a href="/korean/1" -->
                <a href="/korean/1"
                  ><img src="/static/img/mugyo.jpg" alt=""
                /></a>
              </div>
              <div class="swiper-slide">
                <a href="/korean/2"
                  ><img src="/static/img/nanpo.jpg" alt=""
                /></a>
              </div>
              <div class="swiper-slide">
                <a href="/korean/3"
                  ><img src="/static/img/gongi.jpg" alt=""
                /></a>
              </div>
              <div class="swiper-slide">
                <a href="/korean/4"
                  ><img src="/static/img/ys24.jpg" alt=""
                /></a>
              </div>
              <!-- <div class="swiper-slide"><a href="http://"><img src="/static/img/ys24_1.jpg" alt=""></a></div> -->
              <!-- <div class="swiper-slide"><img src="/static/img/ys24_1.jpg" alt=""></div> -->
            </div>

            <!-- 화살표 -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>

        <div class="container">
          <div class="swiper swiper1">
            <h3>중식</h3>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="/chinese/1"
                  ><img src="/static/img/maggie.jpg" alt=""
                /></a>
              </div>
              <div class="swiper-slide">
                <a href="/chinese/2"><img src="static/img/ya.jpg" alt="" /></a>
              </div>
              <div class="swiper-slide">
                <a href="/chinese/3"
                  ><img src="static/img/yang.jpg" alt=""
                /></a>
              </div>
              <!-- <div class="swiper-slide">
                <a href="/chinese-4"
                  ><img src="static/img/homelnad.jpg" alt=""
                /></a>
              </div> -->
              <div class="swiper-slide">
                <a href="/chinese/4"
                  ><img src="static/img/homeland1.jpg" alt=""
                /></a>
              </div>
            </div>
            <!-- 화살표 -->
            <div class="swiper-button-prev swiper-btn"></div>
            <div class="swiper-button-next swiper-btn"></div>
          </div>
        </div>

        <div class="container">
          <div class="swiper">
            <h3>양식</h3>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="/western/1"
                  ><img src="static/img/dirtysnack.jpg" alt=""
                /></a>
              </div>
              <div class="swiper-slide">
                <a href="/western/2"
                  ><img src="static/img/pimfy.jpg" alt=""
                /></a>
              </div>
              <div class="swiper-slide">
                <a href="/western/3"
                  ><img src="static/img/natural.jpg" alt=""
                /></a>
              </div>
              <div class="swiper-slide">
                <a href="/western/4"
                  ><img src="static/img/tacostand.jpg" alt=""
                /></a>
              </div>
              <!-- <div class="swiper-slide"><a href=""><img src="static/img/tacostand2.jpg" alt=""></a></div> -->
            </div>

            <!-- 화살표 -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
