<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>우삼겹: 우리동네 맛집 삼겹줄</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/986f9d8077.js"
      crossorigin="anonymous"
    ></script>
    <!-- common.js -->
    <script src="../static/js/common.js" defer></script>
    <!-- favicon -->
    <link rel="icon" href="../static/img/favicon-96x96.png" />
    <link rel="stylesheet" href="../static/css/common.css" />
    <link rel="stylesheet" href="../static/css/yongsan.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script defer src="../static/js/yongsan.js"></script>
  </head>
  <body>
    <header id="first-head">
      <div class="brand-logo">
        <div class="brand-name">
          <a href="/">우삼겹</a>
        </div>
        <div class="brand-script">
          <a href="/"> <b>우</b>리동네 맛집 <b>삼겹</b>줄 </a>
        </div>
      </div>
      <div class="page-name"><a href="/yongsan">용산구</a></div>
      <nav>
        <ul class="navbar__menu">
          <li class="menu-item">
            <a href="/service_info">서비스 소개</a>
          </li>
          <li class="menu-item">
            <a href="/faq">FAQ</a>
          </li>
          <li class="menu-item">
            <a href="/customer_service">고객센터</a>
          </li>
        </ul>
      </nav>
      <a href="#" class="navbar__toggleBtn"><i class="fa-solid fa-bars"></i></a>
    </header>

    <aside class="aside_sidebar">
      <nav>
        <ul class="sidebar__menu">
          <li class="menu-item">
            <a href="/service_info">서비스 소개</a>
          </li>
          <li class="menu-item">
            <a href="/faq">FAQ</a>
          </li>
          <li class="menu-item">
            <a href="/customer_service">고객센터</a>
          </li>
        </ul>
      </nav>
    </aside>
    <main>
      <div class="dropdown">
        <button class="dropbtn">
          <span class="dropbtn_icon"></span>
          지역 선택
        </button>
        <div class="dropdown-content">
          <a href="/maze">강남구</a>
          <a href="/maze">강동구</a>
          <a href="/maze">강북구</a>
          <a href="/maze">강서구</a>
          <a href="/maze">관악구</a>
          <a href="/maze">광진구</a>
          <a href="/maze">구로구</a>
          <a href="/maze">금천구</a>
          <a href="/maze">노원구</a>
          <a href="/maze">도봉구</a>
          <a href="/maze">동대문구</a>
          <a href="/maze">동작구</a>
          <a href="/maze">마포구</a>
          <a href="/maze">서대문구</a>
          <a href="/maze">서초구</a>
          <a href="/maze">성북구</a>
          <a href="/maze">송파구</a>
          <a href="/maze">양천구</a>
          <a href="/maze">영등포구</a>
          <a href="/yongsan">용산구</a>
          <a href="/maze">은평구</a>
          <a href="/maze">종로구</a>
          <a href="/maze">중구</a>
          <a href="/maze">중랑구</a>
        </div>
      </div>

      <div class="inner">
        <div class="container">
          <div class="swiper">
            <h2>한식</h2>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="/korean/1" title="무교동 낙지"
                  ><img src="/static/img/mugyo.jpg" alt="무교동 낙지"
                /></a>
              </div>

              <div class="swiper-slide">
                <a href="/korean/1" title="무교동 낙지"
                  ><img src="/static/img/mugyo2.jpg" alt="무교동 낙지"
                /></a>
              </div>

              <div class="swiper-slide">
                <a href="/korean/2" title="난포"
                  ><img src="/static/img/nanpo.jpg" alt="난포"
                /></a>
              </div>

              <div class="swiper-slide">
                <a href="/korean/2" title="난포"
                  ><img src="/static/img/nonpo1.jpg" alt="난포"
                /></a>
              </div>

              <div class="swiper-slide">
                <a href="/korean/3" title="공기"
                  ><img src="/static/img/gongi.jpg" alt="공기"
                /></a>
              </div>

              <div class="swiper-slide">
                <a href="/korean/3" title="공기"
                  ><img src="/static/img/gongi1.jpg" alt="공기"
                /></a>
              </div>

              <div class="swiper-slide">
                <a href="/korean/4" title="24시 뼈다귀감자탕"
                  ><img src="/static/img/ys24.jpg" alt="24시 뼈다귀감자탕"
                /></a>
              </div>

              <div class="swiper-slide">
                <a href="/korean/4" title="24시 뼈다귀감자탕"
                  ><img src="/static/img/ys24-1111.jpg" alt="24시 뼈다귀감자탕"
                /></a>
              </div>
            </div>

            <!-- 화살표 -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>

        <div class="container">
          <div class="swiper swiper1">
            <h2>중식</h2>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="/chinese/1" title="maggie"
                  ><img src="/static/img/maggie.jpg" alt="maggie"
                /></a>
              </div>

              <div class="swiper-slide">
                <a href="/chinese/1" title="maggie"
                  ><img src="/static/img/maggie2.jpg" alt="maggie"
                /></a>
              </div>

              <div class="swiper-slide">
                <a href="/chinese/2" title="야상해"
                  ><img src="static/img/ya.jpg" alt="야상해"
                /></a>
              </div>

              <div class="swiper-slide">
                <a href="/chinese/2" title="야상해"
                  ><img src="static/img/ya3.jpg" alt="야상해"
                /></a>
              </div>

              <div class="swiper-slide">
                <a href="/chinese/3" title="이태원 양꼬치"
                  ><img src="static/img/yang.jpg" alt="이태원 양꼬치"
                /></a>
              </div>
              <div class="swiper-slide">
                <a href="/chinese/3" title="이태원 양꼬치"
                  ><img src="static/img/yang2.jpg" alt="이태원 양꼬치"
                /></a>
              </div>
              <div class="swiper-slide">
                <a href="/chinese/4" title="홈랜드"
                  ><img src="static/img/homeland2.jpg" alt="홈랜드"
                /></a>
              </div>
              <div class="swiper-slide">
                <a href="/chinese/4" title="홈랜드"
                  ><img src="static/img/homeland1.jpg" alt="홈랜드"
                /></a>
              </div>
            </div>
            <!-- 화살표 -->
            <div class="swiper-button-prev swiper-btn"></div>
            <div class="swiper-button-next swiper-btn"></div>
          </div>
        </div>

        <div class="container">
          <div class="swiper">
            <h2>양식</h2>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="/western/1" title="더티스낵"
                  ><img src="static/img/dirtysnack.jpg" alt="더티스낵"
                /></a>
              </div>

              <div class="swiper-slide">
                <a href="/western/1" title="더티스낵"
                  ><img src="static/img/dirty1.jpg" alt="더티스낵"
                /></a>
              </div>

              <div class="swiper-slide">
                <a href="/western/2" title="pimfy"
                  ><img src="static/img/pimfy.jpg" alt="pimfy"
                /></a>
              </div>

              <div class="swiper-slide">
                <a href="/western/2" title="pimfy"
                  ><img src="static/img/pimfypapper.jpg" alt="pimfy"
                /></a>
              </div>

              <div class="swiper-slide">
                <a href="/western/3" title="내추럴하이"
                  ><img src="static/img/natural.jpg" alt="내추럴하이"
                /></a>
              </div>

              <div class="swiper-slide">
                <a href="/western/3" title="내추럴하이"
                  ><img src="static/img/natural-lasagna.jpg" alt="내추럴하이"
                /></a>
              </div>

              <div class="swiper-slide">
                <a href="/western/4" title="타코스탠드"
                  ><img src="static/img/tacostand.jpg" alt="타코스탠드"
                /></a>
              </div>

              <div class="swiper-slide">
                <a href="/western/4" title="타코스탠드"
                  ><img src="static/img/tacostand2.jpg" alt="타코스탠드"
                /></a>
              </div>
            </div>

            <!-- 화살표 -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
