<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>우삼겹: 우리동네 맛집 삼겹줄</title>

    <!-- common.css -->
    <link rel="stylesheet" href="../static/css/common.css" />
    <!-- customer_service.css -->
    <link rel="stylesheet" href="../static/css/customer_service.css" />
    <!-- common.js -->
    <script src="../static/js/common.js" defer></script>
    <!-- favicon -->
    <link rel="icon" href="../static/img/favicon-96x96.png" />
  </head>
  <body>
    <header>
      <div class="brand-logo">
        <div class="brand-name">
          <a href="/">우삼겹</a>
        </div>
        <div class="brand-script">
          <a href="/"> <b>우</b>리동네 맛집 <b>삼겹</b>줄 </a>
        </div>
      </div>
      <div class="page-name">고객센터</div>
      <nav>
        <ul>
          <li class="menu-item">
            <a href="/service_info">서비스 소개</a>
          </li>
          <li class="menu-item">
            <a href="/faq">FAQ</a>
          </li>
          <li class="menu-item">
            <a href="/customer_service">고객센터</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="inner">
      <br />
      <h2>도움이 필요한 서비스를 선택하세요</h2>
      <br />
      <div class="container">
        <div class="box suggestion">
          <a href="/customer_service/suggestion">
            <img src="../static/img/suggestion.png" alt="suggestion" />
            <p>맛집 추천</p>
          </a>
        </div>
        <div class="box inquiry">
          <a href="/customer_service/inquiry">
            <img src="../static/img/inquiry.png" alt="inquiry" />
            <p>문의 하기</p>
          </a>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
