<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>우삼겹: 우리동네 맛집 삼겹줄</title>
    <!-- favicon -->
    <link rel="icon" href="../static/img/favicon-96x96.png" />
    <!-- common.css -->
    <link rel="stylesheet" href="../static/css/common.css" />
    <!-- common.js -->
    <script defer src="../static/js/common.js"></script>
    <link rel="stylesheet" href="../static/css/faq.css" />
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/986f9d8077.js"
      crossorigin="anonymous"
    ></script>
    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <!-- faq.js -->
    <script defer src="../static/js/faq.js"></script>
  </head>
  <body>
    <header id="first-head">
      <div class="brand-logo">
        <div class="brand-name">
          <a href="/">우삼겹</a>
        </div>
        <div class="brand-script">
          <a href="/"> <b>우</b>리동네 맛집 <b>삼겹</b>줄 </a>
        </div>
      </div>
      <div class="page-name">FAQ</div>
      <nav>
        <ul class="navbar__menu">
          <li class="menu-item">
            <a href="/service_info">서비스 소개</a>
          </li>
          <li class="menu-item">
            <a href="/faq">FAQ</a>
          </li>
          <li class="menu-item">
            <a href="/customer_service">고객센터</a>
          </li>
        </ul>
      </nav>
      <a href="#" class="navbar__toggleBtn"><i class="fa-solid fa-bars"></i></a>
    </header>

    <aside class="aside_sidebar">
      <nav>
        <ul class="sidebar__menu">
          <li class="menu-item">
            <a href="/service_info">서비스 소개</a>
          </li>
          <li class="menu-item">
            <a href="/faq">FAQ</a>
          </li>
          <li class="menu-item">
            <a href="/customer_service">고객센터</a>
          </li>
        </ul>
      </nav>
    </aside>

    <main class="inner">
      <br />
      <h2>자주 묻는 질문 목록</h2>
      <br />
      <br />
      <div id="Accordion_wrap">
        <div class="que">
          <i class="fa-brands fa-quora"></i>
          <span>이용방법</span>
          <div class="arrow-wrap">
            <span class="arrow-top"
              ><i class="fa-solid fa-chevron-up"></i
            ></span>
            <span class="arrow-bottom">
              <i class="fa-solid fa-chevron-down"></i>
            </span>
          </div>
        </div>
        <div class="anw anw1">
          <span>
            1. 메인 화면에서 <b>원하시는 자치구</b>를 선택해주세요 <br /><br />
            2. 이후 자치구 화면에서 원하시는 음식 종류(한·중·양식)에서
            <b>맛집을 선택</b>해주세요<br /><br />3. <b>맛집 세부 사항</b>을
            확인해주세요<br /><br /><b
              >* 만약 맛집이 없는 자치구를 선택하셨다면 미로찾기 후 고객센터에서
              맛집을 추천해주세요</b
            >
          </span>
        </div>
        <div class="que">
          <i class="fa-brands fa-quora"></i>
          <span>리뷰 작성방법</span>
          <div class="arrow-wrap">
            <span class="arrow-top"
              ><i class="fa-solid fa-chevron-up"></i
            ></span>
            <span class="arrow-bottom">
              <i class="fa-solid fa-chevron-down"></i>
            </span>
          </div>
        </div>
        <div class="anw">
          <span
            >메인화면 자치구 선택 > 자치구 페이지에서 맛집 선택 >
            <b>맛집 상세 페이지</b>의 <b>하단 리뷰 작성란</b>에서 별점, 리뷰를
            작성해주세요</span
          >
        </div>
        <div class="que">
          <i class="fa-brands fa-quora"></i>
          <span>맛집 추천방법</span>
          <div class="arrow-wrap">
            <span class="arrow-top"
              ><i class="fa-solid fa-chevron-up"></i
            ></span>
            <span class="arrow-bottom">
              <i class="fa-solid fa-chevron-down"></i>
            </span>
          </div>
        </div>
        <div class="anw">
          <span
            >상단 메뉴 <b>고객 센터 페이지</b> > <b>맛집 추천 페이지</b>에서
            맛집을 추천해주세요</span
          >
        </div>
        <div class="que">
          <i class="fa-brands fa-quora"></i>
          <span>미로 찾기방법</span>
          <div class="arrow-wrap">
            <span class="arrow-top"
              ><i class="fa-solid fa-chevron-up"></i
            ></span>
            <span class="arrow-bottom">
              <i class="fa-solid fa-chevron-down"></i>
            </span>
          </div>
        </div>
        <div class="anw">
          <span
            >미로는 <b>자동으로 길찾기</b>되며, 미로를 탈출하는 동안 추천할
            맛집을 떠올려주세요</span
          >
        </div>
        <div class="que">
          <i class="fa-brands fa-quora"></i>
          <span>기타 문의</span>
          <div class="arrow-wrap">
            <span class="arrow-top"
              ><i class="fa-solid fa-chevron-up"></i
            ></span>
            <span class="arrow-bottom">
              <i class="fa-solid fa-chevron-down"></i>
            </span>
          </div>
        </div>
        <div class="anw">
          <span
            >상단 메뉴 <b>고객 센터 페이지</b> > <b>문의 하기 페이지</b>에서
            기타 문의사항을 작성해주세요</span
          >
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
