<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>우삼겹: 우리동네 맛집 삼겹줄</title>

    <!-- common.css -->
    <link rel="stylesheet" href="../static/css/common.css" />
    <link rel="stylesheet" href="../static/css/faq.css" />
    <!-- common.js -->
    <script src="../static/js/common.js" defer></script>
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/986f9d8077.js"
      crossorigin="anonymous"
    ></script>
    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <!-- faq.js -->
    <script defer src="../static/js/faq.js"></script>
  </head>
  <body>
    <header>
      <div class="brand-logo">
        <div class="brand-name">
          <a href="/">우삼겹</a>
        </div>
        <div class="brand-script">
          <a href="/"> <b>우</b>리동네 맛집 <b>삼겹</b>줄 </a>
        </div>
      </div>
      <div class="page-name">FAQ</div>
      <nav>
        <ul>
          <li class="menu-item">
            <a href="/service_info">서비스 소개</a>
          </li>
          <li class="menu-item">
            <a href="/faq">FAQ</a>
          </li>
          <li class="menu-item">
            <a href="/customer_service">고객센터</a>
          </li>
        </ul>
      </nav>
      <button id="drawer-btn">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </header>

    <aside id="side-bar">
      <ul>
        <li class="menu-item">
          <a href="/service_info">서비스 소개</a>
        </li>
        <li class="menu-item">
          <a href="/faq">FAQ</a>
        </li>
        <li class="menu-item">
          <a href="/customer_service">고객센터</a>
        </li>
      </ul>
    </aside>

    <main class="inner">
      <br />
      <h2>자주 묻는 질문 목록</h2>
      <br />
      <br />
      <div id="Accordion_wrap">
        <div class="que">
          <span>This is first question.</span>
          <div class="arrow-wrap">
            <span class="arrow-top"
              ><i class="fa-solid fa-chevron-up"></i
            ></span>
            <span class="arrow-bottom">
              <i class="fa-solid fa-chevron-down"></i>
            </span>
          </div>
        </div>
        <div class="anw">
          <span>This is first answer.</span>
        </div>
        <div class="que">
          <span>This is second question.</span>
          <div class="arrow-wrap">
            <span class="arrow-top"
              ><i class="fa-solid fa-chevron-up"></i
            ></span>
            <span class="arrow-bottom">
              <i class="fa-solid fa-chevron-down"></i>
            </span>
          </div>
        </div>
        <div class="anw">
          <span>This is second answer.</span>
        </div>
        <div class="que">
          <span>This is third question.</span>
          <div class="arrow-wrap">
            <span class="arrow-top"
              ><i class="fa-solid fa-chevron-up"></i
            ></span>
            <span class="arrow-bottom">
              <i class="fa-solid fa-chevron-down"></i>
            </span>
          </div>
        </div>
        <div class="anw">
          <span>This is third answer.</span>
        </div>
        <div class="que">
          <span>This is fourth question.</span>
          <div class="arrow-wrap">
            <span class="arrow-top"
              ><i class="fa-solid fa-chevron-up"></i
            ></span>
            <span class="arrow-bottom">
              <i class="fa-solid fa-chevron-down"></i>
            </span>
          </div>
        </div>
        <div class="anw">
          <span>This is fourth answer.</span>
        </div>
        <div class="que">
          <span>This is fifth question.</span>
          <div class="arrow-wrap">
            <span class="arrow-top"
              ><i class="fa-solid fa-chevron-up"></i
            ></span>
            <span class="arrow-bottom">
              <i class="fa-solid fa-chevron-down"></i>
            </span>
          </div>
        </div>
        <div class="anw">
          <span>This is fifth answer.</span>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
