<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>우삼겹: 우리동네 맛집 삼겹줄</title>
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/986f9d8077.js"
      crossorigin="anonymous"
    ></script>
    <!-- common.css -->
    <link rel="stylesheet" href="../static/css/common.css" />
    <!-- inquiry.css -->
    <link rel="stylesheet" href="../static/css/inquiry.css" />
    <!-- favicon -->
    <link rel="icon" href="../static/img/favicon-96x96.png" />
    <!-- common.js -->
    <script src="../static/js/common.js" defer></script>
    <!-- inquiry.js -->
    <script defer src="../static/js/inquiry.js"></script>
  </head>
  <body>
    <header id="first-head">
      <div class="brand-logo">
        <div class="brand-name">
          <a href="/">우삼겹</a>
        </div>
        <div class="brand-script">
          <a href="/"> <b>우</b>리동네 맛집 <b>삼겹</b>줄 </a>
        </div>
      </div>
      <div class="page-name">문의 하기</div>
      <nav>
        <ul class="navbar__menu">
          <li class="menu-item">
            <a href="/service_info">서비스 소개</a>
          </li>
          <li class="menu-item">
            <a href="/faq">FAQ</a>
          </li>
          <li class="menu-item">
            <a href="/customer_service">고객센터</a>
          </li>
        </ul>
      </nav>
      <a href="#" class="navbar__toggleBtn"><i class="fa-solid fa-bars"></i></a>
    </header>
    <aside class="aside_sidebar">
      <nav>
        <ul class="sidebar__menu">
          <li class="menu-item">
            <a href="/service_info">서비스 소개</a>
          </li>
          <li class="menu-item">
            <a href="/faq">FAQ</a>
          </li>
          <li class="menu-item">
            <a href="/customer_service">고객센터</a>
          </li>
        </ul>
      </nav>
    </aside>

    <main class="inner">
      <br />
      <br />
      <br />
      <div class="table-container">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>번호</th>
              <th>제목</th>
              <th>작성자</th>
              <th>날짜</th>
              <th>조회수</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>건의사항 있습니다.</td>
              <td>감자고구마</td>
              <td>2023.03.18</td>
              <td>3</td>
            </tr>
            <tr>
              <td>2</td>
              <td>개발자님 이 기능을 추가하면 어떨까요?</td>
              <td>비오는날</td>
              <td>2023.03.20</td>
              <td>1</td>
            </tr>
            <tr>
              <td>3</td>
              <td>항상 감사합니다</td>
              <td>실바니안두더지</td>
              <td>2023.03.21</td>
              <td>2</td>
            </tr>
            <tr>
              <td>4</td>
              <td>왜 접속이 안되나요?</td>
              <td>김해청년</td>
              <td>2023.03.22</td>
              <td>1</td>
            </tr>
            <tr>
              <td>5</td>
              <td>앱도 만들어주세요</td>
              <td>사과쨈</td>
              <td>2023.03.22</td>
              <td>1</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br />
      <hr />
      <br />
      <div class="bottom-container">
        <div class="bin-box"></div>
        <div class="pagination">
          <a href="#">&laquo;</a>
          <a class="active" href="#">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">&raquo;</a>
        </div>
        <a class="btn btn-secondary float-end" href="#" role="button">글쓰기</a>
      </div>
    </main>
  </body>
</html>
