<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>우삼겹: 우리동네 맛집 삼겹줄</title>
    <!-- common.css -->
    <link rel="stylesheet" href="../static/css/common.css" />
    <link rel="stylesheet" href="../static/css/service_info.css" />
    <!-- common.js -->
    <script src="../static/js/common.js" defer></script>
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/986f9d8077.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="brand-logo">
        <div class="brand-name">
          <a href="/">우삼겹</a>
        </div>
        <div class="brand-script">
          <a href="/"> <b>우</b>리동네 맛집 <b>삼겹</b>줄 </a>
        </div>
      </div>
      <div class="page-name">서비스 소개</div>
      <nav>
        <ul>
          <li class="menu-item">
            <a href="/service_info">서비스 소개</a>
          </li>
          <li class="menu-item">
            <a href="/faq">FAQ</a>
          </li>
          <li class="menu-item">
            <a href="/customer_service">고객센터</a>
          </li>
        </ul>
      </nav>
      <button id="drawer-btn">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </header>

    <aside id="side-bar">
      <ul>
        <li class="menu-item">
          <a href="/service_info">서비스 소개</a>
        </li>
        <li class="menu-item">
          <a href="/faq">FAQ</a>
        </li>
        <li class="menu-item">
          <a href="/customer_service">고객센터</a>
        </li>
      </ul>
    </aside>
    
    <aside id="video-head">
      <h2>우리 동네 <b>Real 맛집</b>을 소개합니다</h2>
      <video src="../static/img/serviceinfo.mp4" autoplay muted></video>
    </aside>
    <main class="inner">
      <div class="cards">
        <div class="card card1">
          <img src="/static/img/expert.jpeg" alt="소개글1" />
          <div class="card-body">
            <h5 class="card-title">우리 지역 맛집 전문가가 추천합니다</h5>
            <p class="card-title">각 지역별 맛집들을 지역 주민이 추천합니다</p>
          </div>
        </div>
        <div class="card card2">
          <img src="/static/img/expert.jpeg" alt="소개글1" />
          <div class="card-body">
            <h5 class="card-title">우리 지역 맛집 전문가가 추천합니다</h5>
            <p class="card-title">각 지역별 맛집들을 지역 주민이 추천합니다</p>
          </div>
        </div>
        <div class="card card3">
          <img src="/static/img/expert.jpeg" alt="소개글1" />
          <div class="card-body">
            <h5 class="card-title">우리 지역 맛집 전문가가 추천합니다</h5>
            <p class="card-title">각 지역별 맛집들을 지역 주민이 추천합니다</p>
          </div>
        </div>
        <div class="card card4">
          <img src="/static/img/expert.jpeg" alt="소개글1" />
          <div class="card-body">
            <h5 class="card-title">우리 지역 맛집 전문가가 추천합니다</h5>
            <p class="card-title">각 지역별 맛집들을 지역 주민이 추천합니다</p>
          </div>
        </div>
        <div class="card card5">
          <img src="/static/img/expert.jpeg" alt="소개글1" />
          <div class="card-body">
            <h5 class="card-title">우리 지역 맛집 전문가가 추천합니다</h5>
            <p class="card-title">각 지역별 맛집들을 지역 주민이 추천합니다</p>
          </div>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
