<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>우삼겹: 우리동네 맛집 삼겹줄</title>

    <!-- common.css -->
    <link rel="stylesheet" href="../static/css/common.css" />
    <!-- suggestion.css -->
    <link rel="stylesheet" href="../static/css/suggestion.css" />
  </head>
  <body>
    <header>
      <div class="brand-logo">
        <div class="brand-name">
          <a href="/">우삼겹</a>
        </div>
        <div class="brand-script">
          <a href="/"> <b>우</b>리동네 맛집 <b>삼겹</b>줄 </a>
        </div>
      </div>
      <div class="page-name">맛집 추천</div>
      <nav>
        <ul>
          <li class="menu-item">
            <a href="/service_info">서비스 소개</a>
          </li>
          <li class="menu-item">
            <a href="/faq">FAQ</a>
          </li>
          <li class="menu-item">
            <a href="/customer_service">고객센터</a>
          </li>
        </ul>
      </nav>
      <button id="drawer-btn">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </header>

    <aside id="side-bar">
      <ul>
        <li class="menu-item">
          <a href="/service_info">서비스 소개</a>
        </li>
        <li class="menu-item">
          <a href="/faq">FAQ</a>
        </li>
        <li class="menu-item">
          <a href="/customer_service">고객센터</a>
        </li>
      </ul>
    </aside>

    <main class="inner">
      <br />
      <br />
      <br />
      <div class="table-container">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>번호</th>
              <th>제목</th>
              <th>작성자</th>
              <th>날짜</th>
              <th>조회수</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>서대문구 맛집 추천합니다.</td>
              <td>메이플무법자</td>
              <td>2023.03.18</td>
              <td>3</td>
            </tr>
            <tr>
              <td>2</td>
              <td>한남동 맛집 추천</td>
              <td>스라소니</td>
              <td>2023.03.20</td>
              <td>1</td>
            </tr>
            <tr>
              <td>3</td>
              <td>맛집 추천해요~~</td>
              <td>설빙마니아</td>
              <td>2023.03.21</td>
              <td>2</td>
            </tr>
            <tr>
              <td>4</td>
              <td>용산구 맛집리스트</td>
              <td>용산구지박령</td>
              <td>2023.03.21</td>
              <td>2</td>
            </tr>
            <tr>
              <td>5</td>
              <td>내가 갔던 또간집</td>
              <td>막걸리나</td>
              <td>2023.03.22</td>
              <td>1</td>
            </tr>
            <tr>
              <td>6</td>
              <td>집앞에 있는 곳인데 양도 푸짐하고 좋아요</td>
              <td>모닝빵</td>
              <td>2023.03.22</td>
              <td>2</td>
            </tr>
          </tbody>
        </table>
      </div>

      <br />
      <hr />
      <br />
      <div class="bottom-container">
        <div class="bin-box"></div>
        <div class="pagination">
          <a href="#">&laquo;</a>
          <a class="active" href="#">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">&raquo;</a>
        </div>
        <a class="btn btn-secondary float-end" href="#" role="button">글쓰기</a>
      </div>
    </main>
  </body>
</html>
