@font-face {
  font-family: "BMJUA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "BMJUA";
}
a {
  text-decoration: none;
  color: black;
}
header {
  position: relative;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .brand-logo {
  margin-left: 20px;
}
header .brand-logo:hover {
  cursor: pointer;
}
header .brand-logo .brand-name a {
  font-weight: 700;
  font-size: 1.5rem;
}
header .brand-logo .brand-script a {
  font-size: 0.9rem;
  white-space: nowrap;
}
header .brand-logo .brand-script a b {
  color: #fe5b05;
}
header .page-name {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header nav {
  width: 220px;
  font-weight: 700;
  font-size: 1rem;
  margin-right: 20px;
}
header > nav > ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  column-gap: 5px;
}

main {
  width: 80%;

  /* background-color: aqua; */
  margin: 0 auto;
}