* {
  box-sizing: border-box;
}
main > h2 {
  text-align: center;
}
#Accordion_wrap {
  border: 1px solid #dddddd;
  border-radius: 10px;
}

.que {
  position: relative;
  padding: 17px 0 17px 14px;
  cursor: pointer;
  font-size: 1.4rem;
  border-bottom: 1px solid #dddddd;
}
.que span {
  padding-left: 10px;
}

.que.on {
  background-color: rgb(233, 241, 254);
}
.que.on > span {
  font-weight: bold;
}

.anw {
  display: none;
  overflow: hidden;
  font-size: 1.1rem;
  padding: 27px 0 27px 30px;
  border-bottom: 1px solid #dddddd;
}
.anw b {
  color: rgb(78, 121, 246);
}
.anw1 b:last-child {
  color: #ef5a68;
}

.arrow-wrap {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
}

.que .arrow-top {
  display: none;
}
.que .arrow-bottom {
  display: block;
}
.que.on .arrow-bottom {
  display: none;
}
.que.on .arrow-top {
  display: block;
}
