body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}
main > h2,
p {
  text-align: center;
}
main > .explain1 {
  color: black;
  font-size: 1.2rem;
}

main > .explain2 {
  margin-top: 0.5rem;
  color: rgb(78, 121, 246);
  font-size: 1.2rem;
  font-weight: 700;
}
#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);

  display: none;
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 600px;

  display: none;
}

#modal h2 {
  padding: 1.5rem 0;
  text-align: center;
  font-size: 1.5rem;
}

#modal p {
  text-align: center;
  font-size: 1rem;
}

#modal a {
  color: black;
  border: 1px solid black;
  background-color: #dddd;
  border-radius: 5px;
  padding: 8px 8px;
  /* font-style: italic; */
  font-weight: bold;
}
#modal a:hover {
  cursor: pointer;
  background-color: #ef5a68;
}
#modal p i {
  transform: rotate(-90deg);
}

#modal p b {
  color: red;
  transform: rotate(-90deg);
}

.container {
  width: 80%;
  /* margin: 5rem auto; */
  margin: 2rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bomb {
  display: none;
  max-width: 100px;
  margin-bottom: 2rem;
}

ul.maze {
  margin-top: 1rem;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-rows: repeat(15, 1.5rem);
  grid-template-columns: repeat(15, 1.5rem);
  justify-content: center;
  align-items: center;
  /* gap: 0.1rem; */
}

ul.maze li {
  width: 1.5rem;
  height: 1.5rem;
  font-weight: bold;
  background-color: #dddddd;
  /* border-radius: 5%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
ul.maze .row-2.col-2 {
  background-image: url(../img/run.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

ul.maze .row-14.col-14 {
  background-image: url(../img/exit.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

ul.maze .row-1.col-1 {
  border-top-left-radius: 50%;
}
ul.maze .row-1.col-15 {
  border-top-right-radius: 50%;
}
ul.maze .row-15.col-1 {
  border-bottom-left-radius: 50%;
}
ul.maze .row-15.col-15 {
  border-bottom-right-radius: 50%;
}

button {
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #dddddd;
  color: white;
  background-color: #b5e045;
}
@media (max-width: 60rem) {
  #modal {
    width: 400px;
  }
  #modal h1 {
    font-size: 0.9rem;
  }
  #modal h2 {
    font-size: 0.6rem;
  }
}
