body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  width: 100%;
  margin: 3rem auto;
  text-align: center;
}

h1 {
  padding: 3rem 0;
  text-align: center;
}

ul.maze {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-rows: repeat(15, 2rem);
  grid-template-columns: repeat(15, 2rem);
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}

ul.maze li {
  width: 2rem;
  height: 2rem;
  font-weight: bold;
  background-color: #dddddd;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #dddddd;
  color: white;
  background-color: #b5e045;
}
