#video-head {
  width: 100%;
  height: 300px;
  position: relative;
}
#video-head h2 {
  width: 100%;
  position: absolute;
  text-align: center;
  line-height: 300px;
  font-size: 2.5rem;
  color: white;
}

#video-head h2 b {
  color: #ffc701;
  text-shadow: -1px 0 #4f495a, 0 1px #4f495a, 1px 0 #4f495a, 0 -1px #4f495a;
}
#video-head video {
  top: 200px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .cards {
  position: relative;
  top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 2rem;
}

main .cards .card {
  /* padding: 15px; */
  margin: 30px;
  width: 350px;
  height: 400px;
  border: 0.6px solid #acb6b3;
  border-radius: 10px;
}

main .cards img {
  object-fit: cover;
  width: 100%;
  height: 250px;
  border-radius: 10px 10px 0 0;
}
main .card3 img {
  object-fit: cover;
  width: 100%;
  height: 250px;
  border-radius: 10px 10px 0 0;
}
main .card5 img {
  object-fit: cover;
  width: 100%;
  height: 250px;
  border-radius: 10px 10px 0 0;
}

main .cards .card-body {
  width: 100%;
  padding: 30px;
}
main .cards .card-title {
  position: relative;
  top: -20px;
  left: -30px;
  text-align: center;
}
main .cards .card-body h5 {
  font-size: 1.3rem;
  font-weight: 700;
}
main .cards .card-body p {
  position: relative;
  top: -5px;
  font-size: 1rem;
}
